#main_page {
  width: 80% ;  height: 1000px ;
  margin: 0px auto ;
  /* background-color: yellow ; */
  background-image: (https://apon-tbp.github.io/TPfestival2023_qiuiz/images/12_TobirapolisFestival2023.png) ;
  background-color: #f8dce0 ;
  color: gray ;
}

#pass {
  /* background-color: lime ; */
  margin: 10px auto ; padding: 5px ;
  text-align: center ;
  font-size: 16pt ;
}

footer {
  width: 80% ;
  /* background-color: pink ; */
  margin: 10px auto ;
}

ul #links{
  list-style-type: none;
}

#links li{
  display: inline-block ;
  width: 30% ;
  margin: 10px ; padding: 5px ;
  background-color: orange ;
  text-align: center ;
}

#links a{
  text-decoration: none ;
  color: white ;
}
