body {

}
#main_page {
  width: 80% ;  height: auto ;
  margin: 0px auto ;  
  color: #635a53 ;
  text-align: center ;
  background: #c8e7ff url(https://apon-tbp.github.io/TPfestival2023_q/images/TPfes_bg.png) contain no-repeat ;
}

/************************** section cts */
#cts{
  text-align: center ;
  padding: 10px ;
}
#cts h1{
  font-size: 300% ;
  color: white ;
  text-shadow: 0 0 2px blue;
}
#cts h2{
  color: brown ;
}
/************************** section present */
#present{
  display: none ; /* 初期値はnone。正解したらjsでblock指定 */
  width: 100% ;
}
#present img{
  width: 500px; heigth: 400px ;
  background-color: yellow ;
  border: solid 2px ;
}
/************************** section pass */
#pass {
  display: block ;
  margin: 10px auto ; padding: 5px ;
  width:300px ;
  text-align: center ;
  font-size: 16pt ;
  color: #00b5ff ;
  font-weight: bold ;
  border: solid ;
}
input#pass_in{
  font-size: large ;
  text-align: center ;
}
button#pass_go:hover {
  cursor: pointer ; 
}

/************************** footer */
footer {
  margin: 10px auto ;
  font-size: 15px ;
}

/************************** footer links */
div #links{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#links p.link{
  display: inline-block ;
  width: 200px ; height: 50px ; line-height: 25px ;
  margin: 10px ; 
  background-color: #00adbe ;
  text-align: center ;
}
#links a{
  text-decoration: none ;
  color: white ;
  font-weight: bold ;
  
}
#links p.link:hover{
  background-color: #61dae6 ;
  cursor: pointer ;
}

/************************* others */
.atention{
  font-size: 150% ;
  color: #f20aff ;
  font-weight: bold ;
  text-shadow: 0px 3px white ;
}


@media screen and (max-width: 959px) {
  body{
     font-size: smaller ;
     margin: 5% auto ;
  }
  #cts h1{
     font-size: 300% ;
  }
  #links p.link{
     width: 100px ; height: 40px; line-height: 20px;
     font-size: 10px ; 
  }
 
@media screen and (max-width: 480px) {
  body{
     font-size: xx-smaller ;
     margin: 0 ;
    }
  #cts h1{
    font-size: 150% ;
  }
  #cts h2{
    font-size: 100% ;
  }
  #pass {
  margin: 5px auto ; padding: 5px ;
  width: 90% ;
  font-size: 10pt ;
  font-weight: bold ;
  }
  #pass input#pass_in{
    width: 90% ;
  }
  #links a{
    width: 100% ; height: 20px; line-height: 10px ;
    font-size: 8px ; 
  }
}

