#main_page {
  width: 80% ;  height: 1000px ;
  margin: 0px auto ;  
  /* background-color: yellow ; */
  background-image: url('images/12_TobirapolisFestival2023.png') ;  /* なぜか動かないのでhtmlに直書き中 */
  background-color: #d1f1ff ;
  color: #635a53 ;
}

/************************** section cts */
#cts{
  text-align: center ;
}
#cts h1{
  font-size: 300% ;
  color: white ;
  text-shadow: 0 0 2px blue;
}
#cts h2{
  color: brown ;
}

/************************** section pass */
#pass {
  margin: 10px auto ; padding: 5px ;
  width:300px ;
  text-align: center ;
  font-size: 16pt ;
  color: #00b5ff ;
  font-weight: bold ;
  border: solid ;
}
input #pass_go{
  /* font-size: 12em ; */  /* 効いてない */
}
input #pass_go:hover {
  cursor: pointer ;   /* 効いてない */
}

/************************** footer */
footer {
  margin: 10px auto ;
}

/************************** footer links */
ul #links{
  list-style-type: none;
}
#links li{
  display: inline-block ;
  width: 25% ; height: 50px ;
  margin: 10px ; padding: 5px ;
  background-color: #00adbe ;
  text-align: center ;
}
#links a{
  text-decoration: none ;
  color: white ;
}

/************************* others */
.atention{
  font-size: 150% ;
  color: #f20aff ;
  font-weight: bold ;
  text-shadow: 0px 3px white ;
}


@media screen and (max-width: 959px) {
  body{
     font-size: smaller ;
     margin: 5% auto ;
  }
  #cts h1{
     font-size: 100% ;
  }
  #links li{
     width: 40% ;
  }
}
@media screen and (max-width: 480px) {
  body{
     font-size: xx-smaller ;
     margin: 0 ;
    }
  #cts h1{
    font-size: 100% ;
  }
  #links li{
    width: 100% ;
  }
}

